<p>           </p>
<div class="panel-body">
        <div class="border margin">
            <p class="h3 p-3">{{administradorDetail.nombre}}<p> 
            <div class="row justify-content-center align-self-center">
                <div class="col">
                    <dl>     
                        <dt>Nombre</dt>
                        <dd>{{administradorDetail.nombre}}</dd>
                        <dt>Apellido</dt>
                        <dd>{{administradorDetail.apellido}}</dd>
                        <dt>Email</dt>
                        <dd>{{administradorDetail.email}}</dd>
                        <dt>Phone</dt>
                        <dd>{{administradorDetail.phone}}</dd>
                        
                    </dl>
                </div>
    
            </div>
        </div>

         <div class="row justify-content-center align-self-center" style="margin-left: 35px">
                <button type="button" class="btn btn-primary" routerLink = "/restaurantes/create">Crear un restaurante</button>
      
            </div> 

       <!-- <p class="h3 p-3">Restaurantes del administrador: </p> -->
       <!-- <app-restaurante-list [restaurantes]="administradorDetail.restaurantes"></app-restaurante-list> -->


       </div>
    