<div class="row justify-content-around align-self-center">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{foodBLogDetail.texto}}</h2>
            <img src="{{foodBLogDetail.archivoMultimedia}}" class="card-img-top">
        <p class="card-text">{{foodBLogDetail.comentarios}}</p>
        <br>
        <div class="row">
            <button class="btn btn-outline-primary"><i class="far fa-thumbs-up"></i>
                {{foodBLogDetail.numeroMeGusta}}</button>
            <button class="btn btn-outline-primary"><i class="far fa-thumbs-down"></i>
                {{foodBLogDetail.numeroNoMegusta}}</button>
        </div>
        
        </div>
    </div>
</div>


