



<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            
            <table class="table table-striped" style="width: 90%; margin-left: 5%; margin-top: 1%; 
               margin-right: 5%;  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
               background-color: white">
                <thead class = "thead-dark" style="background-image: linear-gradient(to top, #000000, #434343); " >
                    <tr>
                        
                        <th style="color: white; font-family: 'verdana;">Nombre</th>
                        <th style="color: white; font-family: 'verdana;">Apellido</th>
                        <th style="color: white; font-family: 'verdana;">Nombre de usuario</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let administrador of administradores" style="cursor: pointer;" (click)="onSelected(administrador.id)">
                            
                            <td style="font-family: 'Raleway', sans-serif;">{{administrador.nombre}}</td>
                            <td style="font-family: 'Raleway', sans-serif;">{{administrador.apellido}}</td>
                            <td style="font-family: 'Raleway', sans-serif;">{{administrador.username}}</td>
                           
              
                        </tr>
                    </tbody>
               
            </table>
        
        </div>
      

           
            
        
    </div>
</div>
