<!-- <div class = "row">
        <div class = "col-3"></div> 
            <div class = "col-6">

                <br>
                <h2 class = "text-center" > Crear un FoodBLog</h2>
                <br>
                <form name = "foodBlog" (ngSubmit)="f.form.valid && createFoodBlog()" #f="ngForm" novalidate>
                    <div clas="form-group">
                        <label for  = "foodBlogTexto"> <b>Texto</b></label>
                        <Input type= "text" texto="foodBlogTexto" class = "form-control" id = "foodBlogTexto" [(ngModule)]="foodBlog.texto"
                        #foodBlog="ngModel" [ngClass]= "{'is-Invalid': f.submitted &&  foodBlogTexto.invalid}" required>
                        <div class = "invalid-feedback">
                            <div> No ha ingresadi texto  o es invalido</div>
                    </div>
                    <div class="row form-inline justify-content-center align self-cente">
                    <button type = "submit" class = "btn btn-primary"> Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
                </form>
            </div>         
        </div>
        <div class="col-3"></div>
</div> -->