<!-- <form>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Nombre del restaurante">
        <input class="form-control" type="text" placeholder="Ruta de la imagen">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Describe tu experiencia</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
<button routerLink='/blog/create' type="button" class="btn btn-secondary btn-lg btn-block">Publicar</button> -->


<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Create Food Blog</h2>
        <br>
        <div class="row">
            <h2>Descripción:</h2>
        </div>
        <div class="row">
            <input type="text" id="texto" value={{descripcion}} (keyup)="verifyDesc()">
        </div>
        <div class="row">
            <h2>Imagen:</h2>
        </div>
        <div class="row">
            <input type="text" id="imagen" value={{imagen}} (keyup)="verifyImg()">
        </div>
        <br>
        <div class="row">
                <button type="submit" class="btn btn-primary" (click)=" createFoodBlog()" routerLink="/blog/list"> Crear Blog</button>
                <button type="submit" class="btn btn-danger" (click)="cancelCreation()" routerLink="/blog/list"> Eliminar Blog</button>
        </div>
    </div>
</div>