<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">F O O D I V E</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nuestros restaurantes</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">Eventos especiales </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Acerca de nosotros</a>
          </li>
        
      </ul>
      <button type="button" class="btn btn-outline-dark mr-5">¿Tienes un restaurante?</button>
      <button type="button" class="btn btn-outline-dark mr-3">Inicia sesion</button>
      <button type="button" class="btn btn-outline-dark">Hazte una cuenta</button>
      
    </div>
  </nav>

  <div class="image">
        <img src="../assets/fotosRestaurante/mesa.jpeg" alt="mesa" height="300" width="600" style="margin-left:10px; margin-right: 10px; margin-top: 7px">
        <img src="../assets/fotosRestaurante/cell.jpeg" alt="cell" height="300" width="600" style="margin-left:10px; margin-right: 10px; margin-top: 7px">

      </div>

     