<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{reservaDetail.id}}<p> 
        <div class="row">
            <div class="col">
                <dl>     
                    <dt>Motivo</dt>
                    <dd>{{reservaDetail.motivo}}</dd>
                    <dt>Fecha</dt>
                    <dd>{{reservaDetail.fecha}}</dd>
                    <dt>Número personas</dt>
                    <dd>{{reservaDetail.numPersonas}}</dd>
                    <dt>Cancelada</dt>
                    <dd>{{reservaDetail.cancelada}}</dd>
                    <dt>Nombre cliente</dt>
                    <dd>{{reservaDetail.nombreCliente}}</dd>
                    <dt>Número contacto</dt>
                    <dd>{{reservaDetail.numeroContacto}}</dd>
                </dl>
            </div>

        </div>
    </div>
    <!-- <p class="h3 p-3">Restaurante de esta reserva: </p>
    <app-restaurante-list [restaurantes]="reservaDetail.restaurante"></app-restaurante-list>
    <p class="h3 p-3">Factura de esta reserva: </p>
    <app-factura-list [facturas]="reservaDetail.factura"></app-factura-list>
    <p class="h3 p-3">Reseña de esta reserva: </p>
    <app-resena-list [reservas]="reservaDetail.reserva"></app-resena-list> -->
</div>
