<div class="container-fluid">
    <div class="col-4">
        <div class="table table-bordered">
            <title>
                Buscador
            </title>
            <tbody>
                <tr>
                    <input type="text" onkeyup="getByname()" placeholder="Buscar">
                </tr>
                <tr>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tipo Restaurante
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" *ngFor = "let tipo of Tipos">
                            <a class="dropdown-item" href="#" (click)="getByTipo(tipo)">{{tipo}}</a>                        
                        </div>
                    </div>
                </tr>
                <tr>
                    Costo Reserva
                </tr>
                <tr>
                    <td>
                        <input type="number" value="{{minReserva}}" onkeyup="getByOverReservaMin()">
                    </td>
                    <td>
                            <input type="number" value="{{minReserva}}" onkeyup="getByBelowReservaMax()">
                    </td>
                </tr>
                <tr>
                    Precio Por Persona
                </tr>
                <tr>
                    <td>
                        <input type="number" value="{{minPrecio}}" onkeyup="getByOverPrecioMin()">
                    </td>
                    <td>
                            <input type="number" value="{{minPrecio}}" onkeyup="getByBelowPrecioMax()">
                    </td>
                </tr>
                <tr>
                    <td>
                        Descuento De Cumpleaños
                    </td>
                    <td>
                        <input type="checkbox" (click)="getByBenefits()" id="Cumpleanos">
                    </td>
                </tr>
                <tr>
                    <td>
                        Zona De Fumadores
                    </td>
                    <td>
                        <input type="checkbox" (click)="getByBenefits()" id="Fumadores">
                    </td>
                </tr>
                <tr>
                    <td>
                        Pet Friendly
                    </td>
                    <td>
                        <input type="checkbox" (click)="getByBenefits()" id="Pets">
                    </td>
                </tr>
                <tr>
                    <td>
                        Servicio A La Mesa
                    </td>
                    <td>
                        <input type="checkbox" (click)="getByBenefits()" id="Mesa">
                    </td>
                </tr>
                <tr>
                    <td>
                        Música En Vivo
                    </td>
                    <td>
                        <input type="checkbox" (click)="getByBenefits()" id="Musica"> 
                    </td>
                </tr>
            </tbody>
        </div>
    </div>
    <div class="col col-lg-2">
        <div class="col-md-2" *ngFor = "let restaurante of restaurantes">
            <div class="card" style="width: 18rem;">
                <img src={{restaurante.imagen}} class="card-img-top" alt={{restaurante.nombre}}>
                <div class="card-body">
                  <h5 class="card-title">{{restaurante.nombre}}</h5>
                  <p class="card-text">Direccion: {{restaurante.direccion}}</p>
                  <a href="#" routerLink="/restaurantes/{{restaurante.id}}" class="btn btn-primary">más Info</a>
                </div>
              </div>
        </div>
    </div>
</div>