<header>
<!--Intro Section-->
<section class="view intro-video">
    <video poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay muted loop>
      <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
    </video>
    <div class="hm-gradient overlay">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row pt-5 mt-3">
            <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
              <div class="white-text">
                <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum
                  dolor sit amet</h1>
                
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="hm-gradient">
            <div class="full-bg-img">
              <div class="container flex-center">
                <div class="row pt-5 mt-3">
                  <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
                    <div class="white-text">
                      <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"> Aca van las fotos de la comida y restaurante</h1>
                      
                      </div>
                  </div>
      
                
                </div>
              </div>
            </div>
          </div>
  </section>

  <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase">Foodive</h5>
              <p>Descubre Bogotá.</p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Síguenos en</h5>
      
              <ul class="list-unstyled">
                <li>
                        <img src="https://img.icons8.com/offices/30/000000/instagram-new.png">
                           <a href="#!">&ensp; Instagram</a>
                </li>
                <li>
                        <img src="https://img.icons8.com/office/30/000000/twitter.png">
                  <a href="#!">&ensp; Twitter</a>
                </li>
                <li>
                        <img src="https://img.icons8.com/offices/30/000000/facebook-new.png">
                  <a href="#!">&ensp; Facebook</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Acerca</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Acerca de nosotros</a>
                </li>
                <li>
                  <a href="#!">Ayuda</a>
                </li>
                <li>
                  <a href="#!">Contáctenos</a>
                </li>
                
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Foodive, Inc. All rights reserved.
          
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->

</header>