<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">    
  </head>
  <body>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEu6l1slQbzdF4bQZCxZMXuQg9Ez1vn7I&callback=initMap"
      async defer></script>
    <div class="container-fluid">      
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0" id="img">
          <h1 class="display-4 font-italic" id="Intro">{{restauranteDetail.nombre}}</h1>
          <h2 class="display-4 font-italic" >{{restauranteDetail.tipoRestaurante}}</h2>
          <div class="lead my-3" id="infoRest">
              <p>Dirección: {{restauranteDetail.direccion}}</p>
              <p>Horario: {{restauranteDetail.horario}}</p>
              <p>Costo Reserva: {{restauranteDetail.costoReserva}}</p>
              <p>Precio Por Persona: {{restauranteDetail.precioPorPersona}}</p>
          </div>          
        </div>
      </div>
      <div class="row mb-2">        
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Nuestros Platos</h3>
            <button type="button" class="btn" [ngClass]="{ 'btn-primary': platoListComponent.isCollapsed,'btn-outline-primary':!platoListComponent.isCollapsed}" (click)="togglePlatos()">
              Platos
  </button>
            <button type="button" class="btn" [ngClass]="{ 'btn-primary': platoAgregarComponent.isCollapsed,'btn-outline-primary':!platoAgregarComponent.isCollapsed}" (click)="toggleCreatePlato()">
              Crear un plato
  </button>
          <app-restaurante-plato [restaurantePlatos] = "restauranteDetail.platos" [restaurante] = "restauranteDetail"></app-restaurante-plato> 
          <app-restaurante-agregar-plato [restaurante] = "restauranteDetail" (updatePlatos) = "updatePlatos()"></app-restaurante-agregar-plato>  

          </div>          
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Nuestros Beneficios</h3>
              <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th></th>                                 
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          Descuento Cumpleaños
                      </td>
                      <td>
                          {{restauranteDetail.descuentoCumpleanos}}
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Zona De Fumadores
                      </td>
                      <td>
                          {{restauranteDetail.zonaDeFumadores}}
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Pet Friendly
                      </td>
                      <td>
                          {{restauranteDetail.petFriendly}}
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Servicio A La Mesa
                      </td>
                      <td>
                          {{restauranteDetail.servicioALaMesa}}
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Música En Vivo
                      </td>
                      <td>
                          {{restauranteDetail.musicaEnVivo}}
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <a href="#" class="btn btn-primary">Modificar</a>
                      </td>
                      <td>
                          <a href="#" class="btn btn-danger" (click)="deleteThis()" routerLink="/restaurantes/list">Eliminar</a>
                      </td>
                    </tr>
              </tbody>
            </table>   
          </div>       
          <div class="row">
            <div id="map"></div>
              <script async defer src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCEu6l1slQbzdF4bQZCxZMXuQg9Ez1vn7I&callback=initMap'>
                let map;
                let markerInicial;
                let markerFinal;
                let coordinates;
                let path;
                let triangle;
                let directionsService;
                let directionsRenderer;
                let markers = [];
                let geocoder;
                function initMap()
                {
                  map = new google.maps.Map(document.getElementById('map'),{
                      center:{lat:4.66421, lng: -74.07861}, // 
                      zoom:16
                    });
                  directionsService = new google.maps.DirectionsService();
                  directionsRenderer = new google.maps.DirectionsRenderer({suppressMarkers:true});
                  geocoder = new google.maps.Geocoder();
                }
              </script>
              <script>
                x=document.getElementById("map")
                x.innerHTML="<h1>F</h1>"
              </script>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
  <!--<body hidden={{esAdmi}}>
    <div class="constinaer-fluid">
        <div class="row">
            <h1>{{restauranteDetail.nombre}}</h1>
            <h2>{{restauranteDetail.tipoRestaurante}}</h2>
        </div>
        <div class="row">
            <div class="table">
                <thead>
                    <tr>
                        <th>
                            Día
                        </th>
                        <th>
                            Cantidad De Reservas
                        </th>
                        <th>
                            Ganancia
                        </th>
                        <th> 
                            Estado                       
                        </th>
                        <th>
                            Cancelar
                        </th>
                    </tr>
                </thead>
                <tbody >
                    crear el método con reservas
                </tbody>
            </div>
            <h2>Ganacia: implementarMetdodo</h2>
            <h2>Ganacia Total:</h2>
            <h2>Porcentaje: </h2>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="table">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Modificar
                        </th>
                        <th>
                            Eliminar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    poner lor platos
                </tbody>
            </div>
            <h2>Cantidad de platos: </h2>
            <h2>Precio Total del Menu: </h2>
        </div>
        <div class="rpw">
            <div class="card">
                <img src={{restauranteDetail.imagen}} class="card-img-top" alt={{restauranteDetail.nombre}}>
                <div class="card-body">
                    <h5 class="card-title">{{restauranteDetail.nombre}}</h5>
                    <p class="card-text">
                        Imagen: {{restauranteDetail.imagen}}
                    </p>
                    <p class="card-text">
                        Nombre: {{restauranteDetail.nombre}}
                    </p>
                    <p>
                        Dirección: {{restauranteDetail.direccion}}
                    </p>
                    <p>
                        Tipo Restaurante: {{restauranteDetail.tipoRestaurante}}
                    </p>
                    <p>
                        Precio Por Persona: {{restauranteDetail.precioPorPersona}}
                    </p>
                    <p>
                        Costo Reserva: {{restauranteDetail.costoReserva}}
                    </p>
                    <p>
                        Horario: {{restauranteDetail.horario}}
                    </p>
                    <ul>
                        <li *ngFor="let s of benefits">
                            {{s}}
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary">Modificar</a>
                </div>
            </div>
        </div>
    </div>
  </body>
  <body hidden="esVisitante">
    <div class="container-fluid">
            <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-between align-items-center">
                      <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" >Foodive</a>
                      </div>
                      <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="text-muted" href="#">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                        </a>
                        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
                      </div>
                    </div>
                  </header>
                  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                    <div class="col-md-6 px-0" id="img">
                      <h1 class="display-4 font-italic" id="Intro">{{restauranteDetail.nombre}}</h1>
                      <h2 class="display-4 font-italic" >{{restauranteDetail.tipoRestaurante}}</h2>
                      <div class="lead my-3" id="infoRest">
                          <p>Dirección: {{restauranteDetail.direccion}}</p>
                          <p>Horario: {{restauranteDetail.horario}}</p>
                          <p>Costo Reserva: {{restauranteDetail.costoReserva}}</p>
                          <p>Precio Por Persona: {{restauranteDetail.precioPorPersona}}</p>
                      </div>          
                    </div>
                  </div>
                  <div class="row mb-2">
                  <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">Nuestros Platos</h3>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Descripción</th>
                              <th>Precio</th>
                            </tr>
                          </thead>
                          <tbody id="Menu">
                          </tbody>
                        </table>            
                      </div>          
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">Nuestros Beneficios</h3>
                          <table class="table table-striped">
                          <thead>
                            <tr>
                              <th></th>
                              <th></th>                                 
                            </tr>
                          </thead>
                          <tbody *ngFor="let s of benefits">
                              <tr>
                                  <td>
                                      {{s}}
                                  </td>
                                  <td>
                                      X
                                  </td>
                              </tr>
                          </tbody>
                        </table>   
                      </div>          
                    </div>
                  </div>
                </div>
    </div>
  </body>-->