<!DOCTYPE html>
<html>
    <!--<div class="container-fluid">
        <h1 class="text-center">
            Crear Nuevo Restaurante
        </h1>
        <form name="restaurante" (ngSubmit)="f.form.valid && createRestaurante()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="restauranteNombre"></label>
                    <b>
                        Nombre:
                    </b>
                    <input type="text" name="restauranteNombre" class="form-control" id="restauranteNombre" [(ngModel)]="restaurante.nombre"
                        #restauranteNombre="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteNombre.invalid}" required>               
                    <div class="invalid-feedback">
                        <div>
                            Al Restaurante le Falta el Nombre
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="restauranteContrasena"></label>
                    <b>
                        contrasena:
                    </b>
                    <input type="text" name="restauranteContrasena" class="form-control" id="restauranteContrasena" [(ngModel)]="restaurante.contrasena"
                        #restauranteContrasena="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteContrasena.invalid}" required>               
                    <div class="invalid-feedback">
                        <div>
                            Al Restaurante le Falta el contrasena
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="restauranteContrasenaRepeat"></label>
                    <b>
                        contrasena:
                    </b>
                    <input type="text" name="restauranteContrasenaRepeat" class="form-control" id="restauranteContrasenaRepeat"  [ngClass]="{'is-valid': f.submitted && restauranteContrasena===restauranteContrasena}" required>               
                    <div class="invalid-feedback">
                        <div>
                            repita la contraseña
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="restauranteDireccion"></label>
                    <b>
                        contrasena:
                    </b>
                    <input type="text" name="restauranteDireccion" class="form-control" id="restauranteDireccion" [(ngModel)]="restaurante.direccion"
                        #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteDireccion.invalid}" required>               
                    <div class="invalid-feedback">
                        <div>
                            Al Restaurante le Falta direccion
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="restaurantePrecioPorPersona"></label>
                    <b>
                        Precio Por Persona:
                    </b>
                    <input type="number" name="restaurantePrecioPorPersona" class="form-control" id="restaurantePrecioPorPersona" [(ngModel)]="restaurante.precioPorPersona"
                        #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted && restaurantePrecioPorPersona.invalid}" required>               
                    <div class="invalid-feedback">
                        <div>
                            Al Restaurante le Falta un precio por persona
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="restauranteTipo"></label>
                    <b>
                        Tipo de restaurante:
                    </b>
                    <input type="text" name="restauranteTipo" class="form-control" id="restauranteTipo" [(ngModel)]="restaurante.tipoRestaurante"
                        #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteTipo.invalid}" required>               
                    <div class="invalid-feedback">
                        <div>
                            Al Restaurante le Falta tipo
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="restauranteCostoReserva"></label>
                    <b>
                        Costo de reserva:
                    </b>
                    <input type="number" name="restauranteCostoReserva" class="form-control" id="restauranteCostoReserva" [(ngModel)]="restaurante.costoReserva"
                        #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteCostoReserva.invalid}" required>               
                    <div class="invalid-feedback">
                        <div>
                            Al Restaurante le Falta un costo de reserva
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="restauranteHorario"></label>
                    <b>
                        Horario:
                    </b>
                    <input type="any" name="restauranteHorario" class="form-control" id="restauranteHorario" [(ngModel)]="restaurante.horario"
                        #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteHorario.invalid}" required>               
                    <div class="invalid-feedback">
                        <div>
                            Al Restaurante le Falta un horario
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="restauranteZonaFumadores"></label>
                    <b>
                        Horario:
                    </b>
                    <input type="checkbox" name="restauranteZonaFumadores" class="form-control" id="restauranteZonaFumadores" [(ngModel)]="restaurante.zonaFumadores"
                        #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteHorario.invalid}" required>               
                    <div class="invalid-feedback">
                        <div>
                            Al Restaurante le Falta un horario
                        </div>
                    </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">
                    cancelar
                </button>
            </div>
        </form>
    </div>-->
</html>