<div class="row">
        <div class="col-6 offset-3">
            <br>
            <h2 class="text-center">Crear un Restaurante</h2>
            <br>
            <form name="sign-up" (ngSubmit)="f.form.valid " #f="ngForm" novalidate>


                
            <div class="form-group">
                    <label for="restauranteNombre"></label>
                        <b>
                            Nombre:
                        </b>
                        <input type="text" name="restauranteNombre" class="form-control" id="restauranteNombre" [(ngModel)]="restaurante.nombre"
                            #restauranteNombre="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteNombre.invalid}" required>               
                        <div class="invalid-feedback">
                            <div>
                                Al Restaurante le Falta el Nombre
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="restauranteContrasena"></label>
                        <b>
                            contrasena:
                        </b>
                        <input type="text" name="restauranteContrasena" class="form-control" id="restauranteContrasena" [(ngModel)]="restaurante.contrasena"
                            #restauranteContrasena="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteContrasena.invalid}" required>               
                        <div class="invalid-feedback">
                            <div>
                                Al Restaurante le Falta el contrasena
                            </div>
                        </div>
                </div>                
                <div class="form-group">
                    <label for="restauranteDireccion"></label>
                        <b>
                            direccion:
                        </b>
                        <input type="text" name="restauranteDireccion" class="form-control" id="restauranteDireccion" [(ngModel)]="restaurante.direccion"
                            #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted && restauranteDireccion.invalid}" required>               
                        <div class="invalid-feedback">
                            <div>
                                Al Restaurante le Falta direccion
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="restaurantePrecioPorPersona"></label>
                        <b>
                            Precio Por Persona:
                        </b>
                        <input type="number" name="restaurante.precioPorPersona" class="form-control" id="restaurante.precioPorPersona" [(ngModel)]="restaurante.precioPorPersona"
                            #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted }" required>               
                        <div class="invalid-feedback">
                            <div>
                                Al Restaurante le Falta un precio por persona
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="restauranteTipo"></label>
                        <b>
                            Tipo de restaurante:
                        </b>
                        <input type="text" name="restaurante.tipoRestaurante" class="form-control" id="restaurante.tipoRestaurante" [(ngModel)]="restaurante.tipoRestaurante"
                            #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted }" required>               
                        <div class="invalid-feedback">
                            <div>
                                Al Restaurante le Falta tipo
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="restauranteCostoReserva"></label>
                        <b>
                            Costo de reserva:
                        </b>
                        <input type="number" name="restaurante.costoReserva" class="form-control" id="restaurante.costoReserva" [(ngModel)]="restaurante.costoReserva"
                            #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted}" required>               
                        <div class="invalid-feedback">
                            <div>
                                Al Restaurante le Falta un costo de reserva
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="restauranteHorario"></label>
                        <b>
                            Horario:
                        </b>
                        <input type="any" name="restaurante.horario" class="form-control" id="restaurante.horario" [(ngModel)]="restaurante.horario"
                            #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted}" required>               
                        <div class="invalid-feedback">
                            <div>
                                Al Restaurante le Falta un horario
                            </div>
                        </div>
                </div>
                <div class="form-group">
                        <label for="restauranteImagen"></label>
                            <b>
                                imagen:
                            </b>
                            <input type="any" name="restaurante.imageb" class="form-control" id="restaurante.imagen" [(ngModel)]="restaurante.imagen"
                                #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted}" required>               
                            <div class="invalid-feedback">
                                <div>
                                    Al Restaurante le Falta un horario
                                </div>
                            </div>
                    </div>
                <div class="form-group">
                    <label for="restauranteZonaFumadores"></label>
                        <b>
                            Zona Fumadores:
                        </b>
                        <input type="checkbox" name="restaurante.zonaDeFumadores" class="form-control" id="restaurante.zonaDeFumadores" [(ngModel)]="restaurante.zonaDeFumadores"
                            #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted }" required>               
                        <div class="invalid-feedback">
                            <div>
                                Al Restaurante le Falta un horario
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="restauranteDescuentoCumpleanos"></label>
                        <b>
                            Descuento cumpleaños:
                        </b>
                        <input type="checkbox" name="restaurante.descuentaoCumpleanos" class="form-control" id="restaurante.descuentaoCumpleanos" [(ngModel)]="restaurante.descuentaoCumpleanos"
                            #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted }" required>               
                        <div class="invalid-feedback">
                            <div>
                                Al Restaurante le Falta un horario
                            </div>
                        </div>
                </div>
                <div class="form-group">
                        <label for="restaurantePetFriendly"></label>
                            <b>
                                Pet Friendly:
                            </b>
                            <input type="checkbox" name="restaurante.petFriendly" class="form-control" id="restaurante.petFriendly" [(ngModel)]="restaurante.petFriendly"
                                #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted }" required>               
                            <div class="invalid-feedback">
                                <div>
                                    Al Restaurante le Falta un horario
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                            <label for="restauranteMusicaEnVivo"></label>
                                <b>
                                    Música en Vivo:
                                </b>
                                <input type="checkbox" name="restaurante.musicaEnVivo" class="form-control" id="restaurante.musicaEnVivo" [(ngModel)]="restaurante.musicaEnVivo"
                                    #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted }" required>               
                                <div class="invalid-feedback">
                                    <div>
                                        Al Restaurante le Falta un horario
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="restauranteServicioALaMesa"></label>
                                    <b>
                                        Servicio A La Mesa:
                                    </b>
                                    <input type="checkbox" name="restaurante.servicioALaMesa" class="form-control" id="restaurante.servicioALaMesa" [(ngModel)]="restaurante.servicioALaMesa"
                                        #restauranteDireccion="ngModel" [ngClass]="{'is-valid': f.submitted }" required>               
                                    <div class="invalid-feedback">
                                        <div>
                                            Al Restaurante le Falta un horario
                                        </div>
                                    </div>
                            </div>
                <div class="justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary" (click)=" createRestaurante()"> Crear Restaurante</button>
                </div>
                <div class="justify-content-center align-self-center">
                        <button type="submit" class="btn btn-danger" (click)="cancelCreation()"> Eliminar Restaurante</button>
                    </div>
            </form>
        </div>
    </div>
